<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Poker Swap Reset Password</title>
    </head>
    <body>
        <h2 id="email" class="mt-5 pt-5 text-center"></h2>
        <div id="page" class="mx-auto pt-5" style="width:350px">
            <div class="py-4">
                <input id="password" class="form-control" placeholder="Password" type="password" />
            </div>
            <div>
                <input id="re-password" class="form-control" placeholder="Re Enter Password" type="password" />
            </div>
            <div class="pt-4">
                <button class="btn-success py-2 px-3 border rounded" onclick="submit()">Submit</button>
            </div>
            <div id="warning" class="bg-warning text-center mt-4 border rounded p-2 d-none" />
        </div>
        <script type="text/javascript">
            const email = '{{ email }}';
            let i = email.indexOf('@');
            let sub = email.substring(1, i-1);
            let repl = '*'.repeat(i-2);
            document.querySelector('#email').innerHTML = email.replace(sub, repl);;
            function submit() {
                let password = document.querySelector('#password').value;
                let message;
                if (password === '')
                    message = 'Your password can not be left empty';
                if (password !== document.querySelector('#re-password').value)
                    message = 'Your passwords do not match';
                if (message) {
                    let warn = document.querySelector('#warning');
                    warn.classList.remove('d-none');
                    warn.innerHTML = message;
                }
                else
                    fetch('{{ host }}/users/reset_password/{{ token }}', {
                        method: 'PUT',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            'email': '{{ email }}',
                            'password': password
                        })
                    })
                    .then(resp => resp.json())
                    .then(data => document.querySelector('#page').innerHTML = `<div class="text-center">${data.message}</div>`)
                    .catch(err => console.error(err))
            }
        </script>
    </body>
</html>